streamlit-authenticator
pandas
plotly
streamlit
yfinance
pandas-datareader
prophet
datetime
PyDictionary
nltk
urllib3
PyPDF2
numpy
openpyxl
matplotlib
statsmodels
python-docx
pyttsx3
gTTS
nltk==3.6.3
numpy==1.21.1
pandas==1.3.0
scikit_learn==1.0.2
streamlit==1.3.0
